.contact-wrapper {
    display: flex;
    min-height: 100vh;
    font-family: sans-serif;
    position: relative;
    background: linear-gradient(to right, #fef8e7 50%, rgba(254, 248, 231, 0.3) 60%, transparent),
              url('../assets/contact-bg.jpg') no-repeat center center;
    background-size: cover;
  }
  
  .contact-left {
    flex: 1;
    background: #fef8e700;
    padding: 0px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 650px;
  }
  
  .contact-left h1 {
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 10px;

  }
  
  .contact-left p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 40px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px 14px;
    font-size: 1rem;
    border: 1px solid #999;
    background-color: #fef8e7;
    resize: none;
  }
  
  .contact-form button {
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 24px;
    background-color: #fef8e700;
    border: none;
    border-radius: 6px;
    box-shadow: 4px 4px 0 black;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-left: 150px;
    margin-top: 30px;
  }
  
  .contact-form button:hover {
    transform: translateY(-2px);
    box-shadow: 6px 6px 0 black;
  }
  
  .contact-right {
    flex: 1;
    background-size: cover;
    filter: brightness(95%);
  }
  
 


  @media screen and (max-width: 1024px) {
    .contact-left {
      padding: 0 80px;
      margin-right: 0;
    }
  
    .contact-form button {
      margin-left: 0;
    }
  }
  
  @media screen and (max-width: 768px) {
    .contact-wrapper {
      flex-direction: column;
      background:  linear-gradient(to right, #fef8e7 20%, rgba(254, 248, 231, 0.3) 60%, transparent),
       url('../assets/contact-bg.jpg') no-repeat center center;
      background-size: cover;
      padding: 40px 20px;
    }
  
    .contact-left {
      padding: 0 20px;
      margin-right: 0;
      width: 100%;
      text-align: center;
    }
  
    .contact-left h1 {
      font-size: 2.2rem;
    }
  
    .contact-left p {
      font-size: 0.95rem;
    }
  
    .contact-form {
      width: 100%;
    }
  
    .contact-form input,
    .contact-form textarea {
      font-size: 0.95rem;
      padding: 10px 12px;
    }
  
    .contact-form button {
      width: 100%;
      padding: 12px;
      margin-top: 20px;
      margin-left: 0;
    }
  }
  
  @media screen and (max-width: 480px) {
    .contact-left h1 {
      font-size: 1.8rem;
    }
  
    .contact-left p {
      font-size: 0.9rem;
    }
  
    .contact-form input,
    .contact-form textarea {
      font-size: 0.9rem;
    }
  
    .contact-form button {
      font-size: 0.95rem;
      padding: 10px;
    }
  }
  